@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-combo, .icon-basket, .icon-stackoverflow, .icon-menu, .icon-left-dir, .icon-down-dir, .icon-right-dir, .icon-up-dir, .icon-jquery, .icon-css3, .icon-chevron-prev, .icon-envelope, .icon-cloud, .icon-globe, .icon-evernote, .icon-dropbox, .icon-wordpress, .icon-vimeo, .icon-cc, .icon-amazon, .icon-twitter, .icon-tumblr, .icon-behance, .icon-pinterest, .icon-linkedin, .icon-chat, .icon-comment, .icon-like, .icon-instagram, .icon-map-marker, .icon-google-plus, .icon-github, .icon-chevron-next, .icon-folder, .icon-facebook, .icon-skype, .icon-html5_logo, .icon-aim, .icon-smashing, .icon-image, .icon-clock, .icon-tag, .icon-bookmark, .icon-enter, .icon-exit, .icon-google-drive, .icon-briefcase, .icon-play, .icon-eye, .icon-search, .icon-help, .icon-info, .icon-house, .icon-phone, .icon-pencil, .icon-user, .icon-code, .icon-download, .icon-upload, .icon-disk, .icon-book, .icon-link, .icon-calendar, .icon-retweet, .icon-reply, .icon-lock, .icon-shuffle, .icon-back, .icon-warning, .icon-ccw, .icon-cog, .icon-rss, .icon-export, .icon-trash, .icon-file {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-combo:before {
	content: "\61";
}
.icon-basket:before {
	content: "\62";
}
.icon-stackoverflow:before {
	content: "\63";
}
.icon-menu:before {
	content: "\64";
}
.icon-left-dir:before {
	content: "\65";
}
.icon-down-dir:before {
	content: "\66";
}
.icon-right-dir:before {
	content: "\67";
}
.icon-up-dir:before {
	content: "\68";
}
.icon-jquery:before {
	content: "\31";
}
.icon-css3:before {
	content: "\6a";
}
.icon-chevron-prev:before {
	content: "\6b";
}
.icon-envelope:before {
	content: "\6c";
}
.icon-cloud:before {
	content: "\6d";
}
.icon-globe:before {
	content: "\6e";
}
.icon-evernote:before {
	content: "\30";
}
.icon-dropbox:before {
	content: "\70";
}
.icon-wordpress:before {
	content: "\71";
}
.icon-vimeo:before {
	content: "\72";
}
.icon-cc:before {
	content: "\73";
}
.icon-amazon:before {
	content: "\74";
}
.icon-twitter:before {
	content: "\75";
}
.icon-tumblr:before {
	content: "\76";
}
.icon-behance:before {
	content: "\77";
}
.icon-pinterest:before {
	content: "\78";
}
.icon-linkedin:before {
	content: "\79";
}
.icon-chat:before {
	content: "\7a";
}
.icon-comment:before {
	content: "\32";
}
.icon-like:before {
	content: "\33";
}
.icon-instagram:before {
	content: "\34";
}
.icon-map-marker:before {
	content: "\35";
}
.icon-google-plus:before {
	content: "\36";
}
.icon-github:before {
	content: "\37";
}
.icon-chevron-next:before {
	content: "\38";
}
.icon-folder:before {
	content: "\39";
}
.icon-facebook:before {
	content: "\6f";
}
.icon-skype:before {
	content: "\21";
}
.icon-html5_logo:before {
	content: "\40";
}
.icon-aim:before {
	content: "\23";
}
.icon-smashing:before {
	content: "\24";
}
.icon-image:before {
	content: "\25";
}
.icon-clock:before {
	content: "\5e";
}
.icon-tag:before {
	content: "\26";
}
.icon-bookmark:before {
	content: "\2a";
}
.icon-enter:before {
	content: "\28";
}
.icon-exit:before {
	content: "\29";
}
.icon-google-drive:before {
	content: "\5f";
}
.icon-briefcase:before {
	content: "\2d";
}
.icon-play:before {
	content: "\2b";
}
.icon-eye:before {
	content: "\3d";
}
.icon-search:before {
	content: "\7b";
}
.icon-help:before {
	content: "\7d";
}
.icon-info:before {
	content: "\5b";
}
.icon-house:before {
	content: "\5d";
}
.icon-phone:before {
	content: "\5c";
}
.icon-pencil:before {
	content: "\7c";
}
.icon-user:before {
	content: "\3b";
}
.icon-code:before {
	content: "\3a";
}
.icon-download:before {
	content: "\27";
}
.icon-upload:before {
	content: "\22";
}
.icon-disk:before {
	content: "\2c";
}
.icon-book:before {
	content: "\2e";
}
.icon-link:before {
	content: "\2f";
}
.icon-calendar:before {
	content: "\3c";
}
.icon-retweet:before {
	content: "\3e";
}
.icon-reply:before {
	content: "\3f";
}
.icon-lock:before {
	content: "\60";
}
.icon-shuffle:before {
	content: "\7e";
}
.icon-back:before {
	content: "\5a";
}
.icon-warning:before {
	content: "\42";
}
.icon-ccw:before {
	content: "\4e";
}
.icon-cog:before {
	content: "\4d";
}
.icon-rss:before {
	content: "\58";
}
.icon-export:before {
	content: "\46";
}
.icon-trash:before {
	content: "\45";
}
.icon-file:before {
	content: "\52";
}
